@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after, *::before{
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body{
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

img, picture, svg,video{
  display: block;
  max-width: 100%;
}

#root{
  height: 100vh;
  width: 100%;
}

ul,li{
  margin: 0;
  padding: 0;
}