.accomodationDetails{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    border: 4px;
    border:2px solid palevioletred;
    border-radius: 10px;
}

.input-accomodationDetails{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    
}

.description{
    width: 100%;
    height: 5rem;
}