.apartmentCard{
    display: flex;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: fit-content;
}

.apt-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.apt-image{
    margin-left: 4rem;
}

.apt-image img{
    max-height: 13rem;
    aspect-ratio: 3/4;
}