.apartmentCard{
    position: relative;
    /* margin-top: 4rem; */
    display: flex;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 40rem;
    height: 15rem;
}

.apt-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.apt-info div{
    max-width: 40ch;
}

.apt-image{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 4rem;
}

.apt-image img{
    height: 100%;
    aspect-ratio: 3/4;
}