.navbar-main{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 5rem;

    transition: transform 0.3s;
    transform: translateY(-5rem);

    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);


    padding: 2rem;
    z-index: 1;
}

.navbar-main img{
    height: 6rem;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    cursor: pointer;
    margin-bottom: 0;
}

.nav-list-item{
    font-size: 1.2rem;
}

.nav-list-item a{
    color: black;
    text-decoration: none;
}

.hamburger{
    display: none;
}

.nav-list-item a:hover{
    font-size: 1.1em;
    transition: font-size .5s;
    color: black;
}

a.active{
    text-decoration: underline;
    text-underline-offset: 5px;
}

a:visited{
    color: black;
}

@media screen and (max-width: 768px){

    .hamburger{
        display: block;
    }


    .nav-list{
        position: absolute;
        left: 0;
        top: 5rem;
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 2rem;
        background-color: aqua;
        opacity: .75;
        transform: scaleY(0);
    }

    .nav-list[data-visible="true"]{
        /* transform: scaleY(1);
        transform-origin: top;
        transition: transform .5s ease-in; */
        animation: nav-slide-in .5s ease-in forwards;
        transform-origin: top;
    }

    .nav-list-item{
        opacity: 0;
    }


    .nav-list[data-visible="true"] .nav-list-item{
        opacity: 1;
        transition: opacity .5s ease-in .5s;
    }

    @keyframes nav-slide-in {
        100%{
            transform: scaleY(1);
        }
    }
}

