.propertyPosting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.pp-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2.5fr;
    place-items: center;
    padding: 3rem 2rem;
    height: 85vh;
    border: 2px solid palevioletred;
}

.h1style{
    left: 40rem;
    padding-left: 3rem;
}

.sidebar{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 0rem 2rem;
    border: 2px solid palevioletred;
    border-radius: 10px;
}

.field-classes{
    margin-top: 2rem;
    width: 100%;
    cursor: pointer;
}

.selected-field-class{
    height: 100%;
    width: 100%;
}

.sidebar > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}