.roommateCard{
    display: flex;
    gap: 6rem;
    border-radius: 5px;
    width: fit-content;
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.name{
    display: inline-block;
    font-size: 1.5rem;
    margin-right: .5rem;
}

.smokes{
    margin-right: .5rem;
}

.job{
    margin-right:.5rem;
}

.pronouns{
    display: inline-block;
}

.image img{
    width: 10rem;
    border-radius: 5px;
}

.roommateCard-btn{
    width: min-content;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: .5rem;
}

.roommate-image{
    display: grid;
    place-items: center;
    gap: 1rem;
}

.compatability{
    display: grid;
    place-items: center;
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: rgb(173, 59, 87);
    color: white;
}
.compatability:hover{
    box-shadow: -7px 7px 20px rgba(0, 0, 0, 0.25), 7px 7px 20px rgba(0, 0, 0, 0.47);
}