.roommateList{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-5rem);
    padding: 2rem;
}

.next{
  transform: translateX(150%);
}

.prev{
  transform: translateX(-150%);
}